from bs4 import BeautifulSoup
from urllib2 import urlopen
import csv

soup=[]
info=[]
obs=[]
url=[]
url2="http://www.amazon.com/Donut-K-Cup-packs-Keurig-Brewers/product-reviews/B0029XDZIK/ref=cm_cr_pr_top_link_"
url3="?ie=UTF8&pageNumber="
url4="&showViewpoints=0&sortBy=byRankDescending"

for x in range(1, 30):
	url.append(url2 + str(x) + url3 + str(x) + url4)
for u in url:
	html=urlopen(u).read())
	soup=BeautifulSoup(html))
	reviews=soup.findAll('div',{"class":"reviewText"})) 
	for rev in reviews:
		obs.append(rev.text)
