from bs4 import BeautifulSoup
from urllib2 import urlopen
import csv

soup=[]
info=[]
obs=[]
url=[]
url2="http://www.amazon.com/Donut-K-Cup-packs-Keurig-Brewers/product-reviews/B0029XDZIK/ref=cm_cr_pr_top_link_"
url3="?ie=UTF8&pageNumber="
url4="&showViewpoints=0&sortBy=byRankDescending"

for x in range(1, 30):
	url.append(url2 + str(x) + url3 + str(x) + url4)
for u in url:
	html.append(urlopen(u).read())
	for h in html:
		soup.append(BeautifulSoup(h))
		for s in soup:
			info.append(s.findAll('div',{"class":"reviewText"})) 
			for i in info:
				obs.append(i.text)
